body{
    background-color: chocolate;
}

#header{
    /* width: 1300px; */
    background-color: blanchedalmond;
    margin-bottom: 400px;
}
.all-device-parent{
    width: 1160px;
    /* border: 5px solid red; */
    margin: auto;
}
/* ........small device */
.small-device{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo {
    height: 62px;
    width: 62px;
    padding-left: 5px;
}
.fa-solid{
   font-size: 40px;
  margin-right: 15px;
}
.hr-line{
    
    width: 100%;
    height: 2px;
    background-color: rgb(43, 255, 0);
}
/* .......large device */
.large-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side{
    display: flex;
    align-items: center;
}
.left-side h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-left: 10px;
}
.middle-side{


}
.middle-side nav{
    display: flex;
    align-items: center;
}
.middle-side nav li{
    list-style: none;
    font-size: 30px;
    text-transform: capitalize;
    margin-right: 20px;
}
.btn{
    font-size: 30px;
    width: 200px;
    padding: 2px 0;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    /* margin-right: 50px; */
}
.text-color-1{
    color: orange;
}
.text-color-2{
    color: aqua;
}
.text-color-3{
    color: blueviolet;
}
.text-color-4{
    color: crimson;
}

/* .......large device end */

#main{
  background-color: white;
  background-image: url(assets/bg.png);
  background-repeat: no-repeat;

}

/* ..............1111111.......... */
.title{
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;

}
/* ................2222222........ */

.kid-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
}
.description{
    width: 500px;
    height: 331px;
    /* border: 5px solid red;
    */
    text-align: center;
    
} 
.description-title{
    /* width: 400px; */
    font-size: 54px;
    margin-top: 0;
}
.span-1{
    color: orange;
}
.span-2{
    color: rgb(22, 122, 161);
}
.enroll-btn{
    width: 200px;
    height: 30px;
    text-transform: capitalize;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.image{
    width: 468px;
    height: 575px;
    /* border: 5px solid rgb(66, 60, 60); */
}

/* ,,,,,,,,,,,,,,card  */



.card-parent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.upper-title{
    text-align: center;
    font-size: 40px;
}
.card-1{
    width: 367px;
    height: 476px;
    /* border: 5px solid red; */
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(to bottom, hsl(202, 64%, 84%) 0%, #DCDCDC 40% );
}
.card-2{
    width: 367px;
    height: 476px;
    /* border: 5px solid red; */
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(to bottom, hsl(28, 36%, 73%) 0%, #DCDCDC 40% );
}
.card-3{
    width: 367px;
    height: 476px;
    /* border: 5px solid red; */
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(to bottom, hsl(320, 53%, 79%) 0%, #DCDCDC 40% );
}
.card-btn-3{
    width: 200px;
    height: 50px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin: auto;
    color: rgb(247, 32, 60);
    
}
.card-btn-1{
    width: 200px;
    height: 50px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    margin: auto;
    color: rgb(8, 68, 199);
}
.card-btn-2{
    width: 200px;
    height: 50px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin: auto;
    color: rgb(245, 121, 4);
}
/* ................... */
.arrow{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.left-arrow{
    border-radius: 100%;
    background-color: orange;
    font-size: 30px;
    height: 80px;
    width: 80px;
    text-align: center;
    color: white;
}
.left-arrow i{
    text-align: center;
    padding: 20px;
}

.right-arrow{

    border-radius: 100%;
    background-color: orange;
    font-size: 30px;
    height: 80px;
    width: 80px;
   color: white;
   


}
.right-arrow i{
    text-align: center;
    padding: 20px; 

}
/* ................. */
.parent1{
    background-image: url();
    background-repeat: no-repeat;
}
.parent1{
    /* background: linear-gradient(to bottom, #FF8C00 5%, #F0E68C 0%); */
}
.box-parent{
    /* border: 5px solid red; */
    display: flex;
}
.parent1{
    /* border: 5px solid rgb(4, 185, 43); */
    display: flex;
    justify-content: center;
}

.single-box{
    width: 540px;
    height: 630px;
    background-color: rgb(185, 185, 178);
    border-radius: 20px;
    margin-right: 20px;
}
.single-box img{
    border-radius: 10px;
}
.single-btn{
    position: relative;
    top: -20px;
    width: 200px;
    font-size: 20px;
    padding: 5px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
.single-box h1,p{
    padding-left: 10px;
}
.double-box{
    width: 600px;
    height: 622px;
    /* border: 5px solid yellow; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.story-box{
    width: 290px;
    height: 300px;
    background-color: rgb(188, 199, 199);
    border-radius: 10px;
}
.story-box img{
    border-radius: 10px;
}

.box-btn{
    position: relative;
    top: -20px;
    width: 150px;
    font-size: 20px;
    padding: 5px;
    font-size: 15px;
    margin-left: 50px;
    background-color: chocolate;
    color: white;
    border-radius: 10px;

}
/* ................. */

footer{
    background-color: rgb(98, 98, 197);
}












@media screen and (max-width:576px) {
    .large-parent{
        display: none;
    }
    .all-device-parent{
        width: 100vw;
    }
    #header{
        width: 100vw;
    }
    .title{
        font-size: 30px;
    }
    .kid-parent{
        flex-direction: column-reverse;
        width: 100%;
    }
    .description{
        width: 100%;
    }
    .upper-title{

    }
    .card-parent{
        flex-direction: column;
        align-items: center;
    
    }
    .card-1, .card-2, .card-3{
        margin-top: 20px;
    }

   .arrow{
    display: none;
   }

   .double-box{
   grid-template-columns: repeat(2,1fr);
   gap: 5px;
   
 width: 100%;
    
   }
   .story-box{
    width: 100%;
   }
   .story-box img{
    width: 100%;
   }
   
   .single-box{
    display: none;
   }

    
}
@media screen and (min-width:577px) {
    


    .small-device{
        display: none;
    }
.hr-line{
    display: none;
}
}